<html>
<head>
    <meta charset="UTF-8">
    <title>Vue getting started</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

<div id="up">
    <button @click="count++">
        Count is: {{ count }}
    </button>

    <a href="#" @click="count = count + 2">
        Count is: {{ count }}
    </a>

    <span>
         Count is: {{ count }}
    </span>
</div>


<div id="down">
    <button @click="count--">
        Count is: {{ count }}
    </button>

    <a href="#" @click="count = count - 2">
        Count is: {{ count }}
    </a>

    <span>
         Count is: {{ count }}
    </span>
</div>



<script>
    const {createApp} = Vue // импортируем функцию createApp

    createApp({ // создаем приложение
        data() {
            return {
                count: 0
            }
        }
    }).mount("#up");

    createApp({ // создаем приложение
        data() {
            return {
                count: 0
            }
        }
    }).mount('#down')





</script>
</body>
</html>