<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show/hide using vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<!--
https://vuejs.org/guide/essentials/conditional.html
https://vueframework.com/docs/v3/ru/ru/guide/conditional.html
-->
    <div v-if="divVisible">
        Some text
    </div>
    <button @click="divVisible = !divVisible">{{ divVisible ? 'Hide' : 'Show'}}</button>

<script>
    Vue.createApp({ // создаем приложение
        data() {
            return {
                divVisible: true // объявляем переменную, значение которой будет указывать видим div или нет
            }
        }
    }).mount("body"); // привязываем ко всему body
</script>
</body>
</html>