

<a href="javascript:$('.category<?php echo $catid; ?>').toggle()" class="table__link">

было, как оказалось не работало в ишаке
ниже новое, в ишаке работает

<a href="javascript:cattoggle(<?php echo $catid; ?>)" class="table__link">


со строкой скрипта 
function cattoggle(id){$(".category"+id).toggle();}

на выходе
<a href="javascript:cattoggle(1)" class="table__link">


вопрос как поправить вот такую нашу ссылку, чтоб она тоже в ишаке заработала?

<a href="javascript:if($(window).width() <= 992) {$('.card1').toggle()}" class="table__link">


function myToggle(id) {
    if($(window).width() <= 992) {
         $('.card' + id).toggle();
    }
}

<a href="javascript:myToggle(1)" class="table__link">