﻿Тема этого урока - переменные и объекты.

Вот здесь https://learn.javascript.ru/variables рассказывают, что переменная - это что-то вроде коробки, в которую можно положить строку или число.

<script>
    let m;
    m = 'Hello!'; // в коробке с именем m сейчас лежит строка Hello!
    m = 'World!'; // значение изменено, теперь в этой коробке лежит строка World!
    console.log(m) // должно напечатать World!
</script>


Теперь что будет если в коробку-переменную положить объект.

Пусть у нас есть на странице такой элемент:
<div id="test"></div>

Объявим три переменные
<script>
    var a = document.getElementById('test');
    var b = document.getElementById('test');
    var c = document.getElementById('test');
</script>


Получается в каждой из трех переменных лежит объект, который представляет наш div на странице.
Но объект только один, у нас ведь на странице только один div с id="test"
Как может один объект лежать сразу в трех "коробках" ?

Ответ - на самом деле в "коробке" лежит не сам объект, а только адрес этого объекта.
Сам объект физически находится в оперативной памяти.
Говорят, что переменная ссылается на объект.
Мы можем работать с объектом через переменную, которая на него ссылается.
<script>
    a.style.display = 'none';  // Скрыли div

    // Теперь печатаем значение display
    console.log(a.style.display); // none
    console.log(b.style.display); // none
    console.log(c.style.display); // none
</script>


Все три раза будет напечатано 'none'. Почему? Потому-что у нас только один объект, который мы изменили.

Свойство style объекта div - это тоже объект.
Мы можем создать переменную, которая ссылается на объект style
<script>
    var d = document.getElementById('test').style;
</script>


Теперь можем изменять свойства style объекта через переменную d
<script>
    d.display = 'block';  // Показали объект


    // Теперь печатаем значение display
    console.log(a.style.display); // block
    console.log(b.style.display); // block
    console.log(c.style.display); // block
    console.log(d.display) // block
</script>
Во всех четырех случаях будет напечатано block - потому-что это тот же самый объект.

Теперь об ошибке с прошлого урока.

<script>

    var dddd = document.getElementById('test').style.display;
    if (dddd === 'block') {
        dddd = 'none';
    }

</script>
Почему это не работает?
В коробку с именем dddd мы положили текущее значение свойства display.
Элемент был видимый, значит в dddd лежит строка 'block'
Потом мы проверяем if(dddd === 'block')  - да, это условие выполняется, dddd === 'block' - истина.
dddd = 'none'; // мы в коробку dddd положили строку 'none'

Сам объект, который представляет элемент на странице никак не поменялся, поэтому остался видимый.

<script>
    console.log(dddd); // none
    console.log(document.getElementById('test').style.display);  // block
</script>

Теперь попробуем наоборот.
Допустим у нас сейчас элемент видимый.

<script>

    var dddd = document.getElementById('test').style.display;
    document.getElementById('test').style.display = 'none';

    console.log(dddd);
    console.log(document.getElementById('test').style.display);


</script>












