.card {
  background: white;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    cursor: move;
  }

  &.active {
    background-color: #d0e7ca
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-header {
    display: flex;
    justify-content: space-between;//
    h3 {
      margin: 0;
      font-weight: 500;
    }
  }

  &-data {
    font-size: 12px;
    //font-style: italic;
    text-align: right;
  }

  &-body {

  }


}