.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  background: #a9afbb;
  padding: 10px;
  border-radius: 5px;


  header {
    padding: 15px 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }

}