<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Циклы при выводе с помощью Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

<!--
Vue позволяет выводить списки с помощью атрибута v-for - это получается что-то вроде цикла
Для этого нужно при создании приложения создать массив объектов
-->
<div id="test1">
    <ul>
        <li v-for="item in items"> <!-- Указываем здесь наш массив  -->
            {{ item.message }}
        </li>
    </ul>

    <!-- также можно использовать этот атрибут внутри тэга template, если нужно вывести более сложную структуру
    К примеру после каждого элемента списка хотим добавить еще  строчку разделителя
    -->

    <ul>
        <template v-for="item in items">
            <li>{{ item.message }}</li>
            <li>------------------</li>
        </template>
    </ul>

    <!--
        Еще доступна переменная индекс - это порядковый номер объекта в списке начиная с нуля
        например хотим, чтобы разделитель был только между строками
    -->

    <ul>
        <template v-for="(item, index) in items">
            <li>{{ item.message }}</li>
            <li v-if="index < items.length - 1">------------------</li> <!-- добавили условие, что выводим если это не последний в списке элемент -->
        </template>
    </ul>

</div>

<!--
Точно также изменение массива отражается на странице
Здесь нажаие на кнопку добавляет еще один объект в массив:
-->
<div id = "test2">
    <ul>
        <li v-for="a in menu">
            {{ a.text }}
        </li>
    </ul>
    <button @click="menu[menu.length] = { text: 'Пункт меню' }">Add</button>
</div>

<!--

Задание для тренировки:

1) Вывести с помощью Vue какое-то реальное меню из рабочих сайтов, чтобы каждый пункт был ссылкой со своим урлом

2) В последнем примере сделать, чтобы каждый пункт меню имел свой номер: 'Пункт меню 1'

3) Вывести на Vue нашу таблицу пользователей, только тескт, без кнопок

-->


<script>
    Vue.createApp({ // создаем приложение
        data() {
            return {
                items: [{ message: 'Красный' }, { message: 'Синий' }]// объявляем массив объектов
            }
        }
    }).mount("#test1");

    Vue.createApp({ // создаем приложение
        data() {
            return {
                menu: [{ text: 'Пункт меню' }]
            }
        }
    }).mount("#test2");

</script>
</body>
</html>