<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Циклы при выводе с помощью Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        #menu ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
        }
        #menu ul li {
            padding: 3px 0;
        }
        button {
            margin-right: 20px;
        }
    </style>
</head>
<body>

<div id = "menu">
    <ul>
        <li v-for="(m, index) in menu">
            {{ m.text}}
            <button @click="remove(index)">Удалить</button>
        </li>
    </ul>
    <button @click="menu[menu.length] = { text: 'Пункт меню ' + (count++) }">Add</button>
    </ul>
    <button @click="menu.pop()">Delete</button>
</div>


<script>


    Vue.createApp({ // создаем приложение
        data() {
            return {
                menu: [{ text: 'Пункт меню 1' }],
                count: 2
            }
        },
        methods: {
            remove (index) {
                console.log("index=" + index);
                // удаляем элемент с помощью метода splice
                // https://learn.javascript.ru/array-methods
                this.menu.splice(index, 1);
            }
        }
    }).mount("#menu");

</script>
</body>
</html>