<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню на  Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .menu  {
            display: flex;
            flex-direction: column;
            list-style-type: none;
        }
        .menu li {
            padding: 3px 0;
        }
    </style>
</head>
<body>

<ul class="menu">
    <li v-for="li in menu">
        <a :href="li.path">
            {{ li.text }}
        </a>
    </li>
</ul>

<script>
    Vue.createApp({ // создаем приложение
        data() {
            return {
                menu: [// объявляем массив объектов
                    { text: 'О рынке', path: '/about'},
                    { text: 'Наши корнеры', path: '/corners'},
                    { text: 'Афиша', path: '/afisha'},
                    { text: 'Новости', path: '/news'},
                    { text: 'Арендаторам', path: '/arenda'},
                    { text: 'Контакты', path: '/contacts'}]
            }
        }
    }).mount(".menu");

</script>
</body>
</html>