.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #a9afbb;
  border-radius: 4px;
  height: 38px;
  padding: 10px 15px;

  &:focus {
    outline: 0;
  }
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  border: 0;
  border-radius: 4px;
  height: 38px;
  width: 100%;
  background-color: #0d6efd;
  color: #fff;
}

textarea.form-control {
  height: 80px;
}